/*footer css*/
.top p{
    text-align: center;
    color: antiquewhite;
    padding-top: 5px;
  }
.top .social-links {
    text-align: center;
}  
.bottom{
    background: #1f2233;
    width: 100%;
    color: antiquewhite;
    text-align: center;
}
.bottom p{
    font-size: 14px;
    padding: 10px;
}
.top a{
    color: antiquewhite;
    text-align: center;
    display:inline-block;
    padding-left: 8px;
    padding-bottom: 3px;
}
.social-links{
    padding-top: 10px;
   
}  
.social-links a{
    display:inline-block;
    text-align: center;
}
.social-links a :hover{
    color: #ffc107;;

}

@media only screen and (max-width: 767px){
    .bottom p{
        font-size: 10px;
        width: 100%;
   
    }
}