.services {
  background: #1f2233;
  padding: 100px 0;
  color: antiquewhite;
}
.common {
  width: 33.33333333%;
  margin: 20px auto;
  text-align: center;
  align-items: center;
  align-content: center;
}
.heading {
  font-size: 32px;
  margin-bottom: 20px;
}
.mainContent {
  font-size: 16px;
  color: antiquewhite;
}
.commonBorder {
  background: #ffc107;
  height: 3px;
  width: 100%;
  margin-top: 10px auto;
}
.col-4 {
  width: 33.33333333333333%;
}
.service_box {
  padding: 40px;
  color: antiquewhite;
  background: #23263a;
}
.service_box :hover {
  color: #23263a;
}
.service_box_parent :hover {
  background: #ffc107;
  color: #23263a;
}
.commonIcon {
  font-size: 40px;
  color: #ffc107;
  margin-bottom: 15px;
}
.service_box_header {
  font-size: 20px;
  font-weight: 40px;
  margin-bottom: 15px;
}
.service_box_p {
  font-size: 16px;
  color: antiquewhite;
  font-family: "Oswald", sans-serif !important;
}
.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.divider {
  position: relative;
  margin-top: 90px;
  height: 1px;
}
.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    transparent,
    rgb(220, 225, 236),
    transparent
  );
}

/*gallerey css*/
.masonry:after {
  content: "";
  display: table;
  clear: both;
}

.masonry .grid-sizer,
.masonry_block {
  width: 100%;
}

.masonry_block {
  float: left;
  padding: 20px 20px;
  border-radius: 25px;
}

.masonry-folio {
  position: relative;
  overflow: hidden;
  box-shadow: 1px 4px 15px 1px rgb(35,38,58);
  border-radius: 1rem;
}

.masonry_thum img {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-radius: 1rem;
}

.masonry_thum a {
  display: block;
}

.masonry_thum a::before {
  display: block;
  background-color: #ffc107;;
  content: "";
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 1;
  border-radius: 1rem;
}

.masonry_thum a::after {
  display: block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  margin-left: -15px;
  margin-top: -15px;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  z-index: 1;
  border-radius: 1rem;
  border-top: 1px solid #d7dce1;
    border-left: 3px solid #d7dce1;
}

.masonry_text {
  position: absolute;
  left: 0;
  bottom: 6rem;
  padding: 0 1.5rem;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.masonry_title {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  color: #23263a;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 0 0 0.3rem 0;
}

.masonry_cat {
  color: #23263a;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.714;
  margin-bottom: 0;
}

.masonry_caption {
  display: none;
}

.masonry_project-link {
  display: block;
  color: #ffffff;
  text-align: center;
  z-index: 500;
  top: 3rem;
  left: 2rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.masonry_project-link::before {
  display: in-line;
  position: relative;
  top: -2.5rem;
  left: 50%;
}

.masonry_project-link:hover,
.masonry_project-link:focus,
.masonry_project-link:active {
  font-size: 1.1rem;
  color: #ffffff;
  -webkit-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: block;
  background-color: transparent;
}

/* on hover 
 * ----------------------------------------------- */
.masonry-folio:hover .masonry_thum a::before {
  opacity: 1;
  visibility: visible;
}

.masonry-folio:hover .masonry_thum a::after {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.masonry-folio:hover .masonry_thum img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.masonry-folio:hover .masonry_project-link,
.masonry-folio:hover .masonry_text {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.masonry_project-link:hover a {
  text-decoration: underline;
}

@media only screen and (max-width: 992px) {
  .s-works {
    padding-top: 15rem;
    padding-bottom: 15rem;
  }
}

@media only screen and (max-width: 768px) {
  .masonry_title,
  .masonry_cat {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 576px) {
  .s-works {
    padding-top: 12rem;
  }

  .masonry-wrap {
    padding: 0 35px;
  }

  .masonry_block {
    float: none;
    width: 100%;
  }

  .masonry_title,
  .masonry_cat {
    font-size: 1.4rem;
  }
}
