.services{
    background: #1f2233;
    padding: 100px 0;
    color: antiquewhite;
}
.common{
    width: 33.33333333%;
    margin: 20px auto;
    text-align: center;
    align-items: center;
    align-content: center;
 
}
.heading{
    font-size: 32px;
    margin-bottom: 20px;
}
.mainContent{
    font-size: 16px;
    color: antiquewhite;
}
.commonBorder{
    background: #ffc107;
    height: 3px;
    width: 100%;
    margin-top: 10px auto;
}
.col-4{
    width: 33.33333333333333%;
}
.service_box{
    padding: 40px;
    color: antiquewhite;
    background: #23263a;
    border-radius: 15px;
    transition: 3s;
}
.service_box_parent{
    transition: 3s;
}
.service_box :hover{
    color: #23263a;
    border-radius: 15px;
}
.service_box_parent :hover .service_box_p{
    color: #1f2233;
}
.service_box_parent :hover .commonIcon{
    color: #1f2233;
}
.service_box_parent :hover{
   background: #ffc107;
   color: #23263a;
   border-radius: 15px;
}
.commonIcon{
    font-size: 40px;
    color: #ffc107;
    margin-bottom: 15px;
}
.service_box_header{
    font-size: 20px;
    font-weight: 40px;
    margin-bottom: 15px;
}
.service_box_p{
    font-size: 16px;
    color: antiquewhite;
    font-family: 'Oswald', sans-serif !important;
}
.row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.divider
{
	position: relative;
	margin-top: 90px;
	height: 1px;
}
.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(220, 225, 236), transparent);
}